@import url('//fonts.googleapis.com/css?family=Roboto');

* {
	box-sizing: border-box;
}

html, body {
    flex: 1;
	flex-direction: column;
	align-items: center;
    margin:0px auto;
    background-color: #e1e1e1;
	font-family: 'Roboto', sans-serif;
    height: 100%;
    min-height: 100%;
    
}

.app {
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: center;

}

.header {
    margin:0px auto;
	flex-wrap: nowrap;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
    height: 50px;
  	justify-content: center;
  	border-bottom: 1px solid #e1e1e1;
  	background-color: #fAfAfA;
    text-align: center;
}

.footer {
	display: flex;
    padding-top: 20px;
	padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    flex-direction: column;
    background-color: red;
    max-height: 10vh;
    margin-bottom: 0px;
    border-top: 1px solid #e1e1e1;

}
.footer-content {
  flex: 1;
}

.ranger-image {
	width: 100%;
}

.ranger-container {
    border-radius: 25px;
	width: 60%;
    height: 1400px;
    padding: 20px 20px 20px 20px;
    background-color: white;
    margin: 20px auto 200px auto;
    color: black;
    cursor: none;
    margin: -200px auto 100px auto;

}
p {
    padding-left: 40px;
    padding-right: 40px;
}


.left-container {
	margin:0px 0px 0px 5px;
	padding-top: 8px;
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 200px;
    height: 300px;
    min-height: 100%;
  	justify-content: left;
  	background-color: lightgrey;
    text-align: left;
    display: flex;
    cursor: pointer;
}

.left-container + li:hover {
    background-color: yellow;
}

li {
    list-style-type: none;
    font-weight: 900;
    cursor: pointer;
    line-height: 1.8;
}

 li:hover {
    color: darkgray;
}
 
.menu-img {
position:absolute;
left:0;
right:0;
top:0;
bottom:0;
margin:0;
background: black;
width: 70px;
height: 50px;
padding: 10px 15px 10px 15px;
 }


.ranger-info{
    list-style-type: none;
    color: black;
    font-weight: 900;
    line-height: 1.8;
    cursor: none;
}
